.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header {
  font-size: 50px;
  color: yellow;
  text-shadow: 2px 2px 5px black;
}
/* write your parent styles in here for your App.js */
