.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header {
  font-size: 72px;
  color: yellow;
  text-shadow: 3px 3px 5px white;
}
/* write your parent styles in here for your App.js */
